*{
    margin: 0;
    padding: 0;
}
/* variables */
:root{
    --main-color:#f4b80d;
    --color_1:#E2E2E2;
    --color_2:#f2db8c;
    --color_3:#895f24;
    --color_4:#AAABBC;
    --color_5:#242321;
    --color_6:#0DD965;
    --color_7:#FFFEFF;
    --color_8:#73EAB2;
    --color-9:#E5E5E5;
    --card-background:#F2F2F2;
}
.container{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill ,minmax(350px,1fr));
    gap:20px
}
/***** MEDIA QUERIES***************/
/**** SM-Device******/
@media (min-width:768px){
    .container{
        width: 750px;
    }

}
/*******MD-device**********/
@media (min-width:992px){
    .container{
        width: 970px;
    }
    
}
/****************XL-Device ************/
@media (min-width:1200px){
    .container{
        width: 1117px;
        
    }    
}
.card_5{
    background-color: var(--card-background);
    padding: 20px 10px 40px 10px;
}
.card_5 h3{
    text-align: center;
    position: relative;
}
.card_5 i{
    position: absolute;
    left: 10px;
}
.card_5 p{
    color: var(--color_4);
    padding: 10px 0;
    font-size: 12px;
}
/* ul */
ul{
    list-style: none;
    padding-top: 30px;
}
li{
    padding: 20px 10px;
}
.card_5 li{
    border-bottom: 1px solid var(--color-9);
    position: relative;
}
.card_5 .click::before{
    content:"";
    width:30px;
    height: 12px;
    border-radius: 10px;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}
.card_5 .click::after{
    content: "";
    width: 17px;
    height: 17px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.card_5 li:first-child::before{
    background-color: var(--color_1);
}
.card_5 li:first-child::after{
    right: 20px;
    background-color: var(--color_4);
}
.card_5 li:nth-child(2)::before{
    background-color: var(--color_6);
}
.card_5 li:nth-child(2)::after{
    background-color:var(--color_7);
    right:5px
}
/* Li n 03 */
.card_5 select{
    background-color: transparent;
    border: none;
    outline: none;
    align-self: flex-start;
    font-weight: bold;
}
.card_5 li:nth-child(3){
    display: flex;
    justify-content: space-between;
}
